<html>
    <body style="text-align: center">
    <div style="background-color: red">
        <h1>
            Many To Many Database Relationship
        </h1>
    </div>
        <div>
            <h1>
            <a href="{% url 'addsub' %}">Add Subject</a>
                </h1>
        </div>
        <div>
            <h1>
            <a href="{% url 'displaysub' %}">Display Subject</a>
                </h1>
        </div>
        <div>
            <h1>
            <a href="{% url 'addstudent' %}">Add Student</a>
                </h1>
        </div>
        <div>
            <h1>
            <a href="{% url 'displaystudent' %}">Display Student</a>
                </h1>
        </div>
    </body>
</html>